table {
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow:3px 3px gray;
}

input[type="button"] {
    width: 100%;
    padding: 30px 30px;
    background-color: lightcoral;
    color: black;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

input[type="button"]:hover{
    background-color: lightgreen;
}


input[type="text"] {
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
}
